.Rproj.user
.Rhistory
.RData
.Ruserdata
LogRatioReg.Rproj
Kristyn/ReproducingLin2014
Kristyn/Experiments/complasso_simulations/output_solpath
Kristyn/Experiments/current_experiments/plot2_metrics_latent.R

Results/
figures/
talk/
Paper/
.DS_Store